@page
@model OnlineShopRazor.Pages.User.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="margin-top:150px">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Comment)
        </dd>
        @if (!string.IsNullOrEmpty(Model.Order.CouponCode))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Order.CouponCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.CouponCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Order.CouponDiscount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.CouponDiscount)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Shipping)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Shipping)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.SubTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.SubTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TransId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TransId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Status)
        </dd>
    </dl>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    Count
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>
                        @item.ProductTitle
                    </td>
                    <td>
                        @item.ProductPrice
                    </td>
                    <td>
                        @item.Count
                    </td>
                    <td>
                        @(item.Count * item.ProductPrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>

</div>
